include ../components/head/head.pug


doctype html
html(lang="ru")
    +head({ "title": "Fancy weather", "description": "Прогноз погоды" })

    body.page-home
        main.weather-content
            header.header
                .control-block
                    button.toggle-block >>
                    select.toggle-block
                        option(value="en" selected) en
                        option(value="ru") ru
                        option(value="be") be
                    button.toggle-block.toggle-temperature F/C
                form(id="searchCity").search-form
                    .search-wrapper
                        input(placeholder='Search city' autocomplete="off" autofocus).search-input
                        button(type='button').vote-search x
                    button(type='submit').search-button Search
            section.about-weather
                article.main-block.weather-block
                    .header-block
                        .title.location MINSK
                        .date 15 May
                    .content-block
                        .degree-value 10
                        .additional-information
                            p overcast
                            p feels like
                            p wind
                            p humidity
                article.bottom-block
            section#map