@import 'helpers/postcss-reset/mobile.css';

/*----------VARIABLES----------*/

$colorWhite: rgb(255, 255, 255);
$colorBlue: blue;

/*--------------------*/


/*----------BASIC----------*/
button, select, input {
  border: initial;
  background: initial;
  outline: none;
}

a, button {
  cursor: pointer;
}

body {
  padding: 60px;
  background-color: wheat;
  background-image: url('https://images.unsplash.com/photo-1542366183-14d5d083ff93?ixlib=rb-1.2.1&q=%E2%80%A6m=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwMzQzOX0');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $colorWhite;
  font-size: 30px;

}

.weather-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/*----------HEADER----------*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.content-block {
  display: flex;
}

/*---------- CONTROL BLOCK ----------*/

.control-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.toggle-block {
  padding: 15px;
  background-color: rgba(180, 184, 187, .7);
  border-radius: 4px;
}

.degree-value {
  font-weight: 900;
  font-size: 10em;
}

/*----------SEARCH FORM----------*/
.search-form {
  display: flex;
}

.search-wrapper {
  position: relative;
}

.search-button {
  background-color: rgba(174, 196, 216, 0.7);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.search-input {
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 20px 30px 20px 20px;
  color: $colorBlue;
  caret-color: $colorBlue;
  //border: 1px solid color($colorWhite a(30%));
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(163, 176, 187, 0.37);


}

.vote-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#map {

  width: 400px;
  height: 400px;
  border-radius: 5%;
}